@model GrandmothersDishes.Services.GrandmothersDishes.ViewModels.Home.AllHomeEmployeesViewModel
@{
    ViewData["Title"] = "Grandmother's Dishes";
}


<partial name="CarouselPartialView" />

<h1 class="text-center mb-4" style="color:goldenrod">Welcome to Grandmother's Dishes!</h1>

<div class="container text-center">
    <h1>About us</h1>
    <hr class="bg-dark" />
    <p style="text-align: center;">In our vision of the world, you will not find shades of gray and the stereotypical life beyond the grave. We see a colourful world full of opportunities, tastes and experiences. It is precisely such a world we want to take you to. A world where everything stands on high-quality, tested foundations with a bit of that "spice" which separates a good dinner from a first class experience. In order to do so, we make use of properly matured wines, which are now in their best condition.</p>
    <p style="text-align: center;"><br>We took the liberty to prepare a bit of beauty for you in the interior of the restaurant, where you can find wonderful elements of leading Italian producers such as Brokis by Antonio De Luca, Laura or Stefano. </p>
    <p style="text-align: center;"><br>It is not enough to read it, is it? We understand. Come see for yourself. We shall look forward to seeing you.<br></p>
    <hr class="bg-dark" />
    <div class="row">
        @foreach (var item in Model.Employees)
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img class="img-responsive" src="@item.ImageUrl" alt="@item.FirstName">
            </div>

            <div class="osoba col-md-3 col-sm-6 col-xs-12">
                <h2>@item.FirstName @item.LastName</h2>
                <p>@item.Description</p>
            </div>

            <div class="clearfix visible-xs visible-sm"></div>
        }

    </div>
</div>