@model GrandmothersDishes.Services.GrandmothersDishes.ViewModels.Home.HomeAllProducts
@{
    ViewData["Title"] = "LoggedInIndex";
}

<partial name="CarouselPartialView" />

<div class="container mt-4">

    <h1 class="text-center mb-4" style="color:goldenrod">Welcome to Grandmother's Dishes, @this.User.Identity.Name!</h1>
    <h3 class="text-center mb-4" style="color:goldenrod">Best dishes you can order!</h3>
    <div class="row">

        @foreach (var item in Model.Products)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item mb-3">
                <div class="card h-100">
                    <a asp-area="" asp-controller="Foods" asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt="@item.Name"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-area="" asp-controller="Foods" asp-action="Details" asp-route-id="@item.Id">@item.Name @item.Price$</a>
                        </h4>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
