@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center p-3 font-weight-bold" style="color: goldenrod">Login</h1>
<hr class="w-25" />


<form method="post" class="mx-auto w-25">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group text-center">
        <label asp-for="Input.Username">Username</label>
        <input asp-for="Input.Username" class="form-control" placeholder="Username...">

    </div>
    <div class="form-group text-center">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" placeholder="Password..." />

    </div>
    <div class="form-group">
        <div class="checkbox text-center">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn"  style="background: goldenrod;color:white">Log in</button>
    </div>

</form>

<div class="text-center">
    <section>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured.
                        <br />See <a style="color:blue" href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" style="background:#4267B2 ; color: white" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign up using @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

<div class="form-group text-center">
    <p>
        <a asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
        <a asp-controller="Account" asp-action="Register">Register as a new user</a>
    </p>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



